@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  src: url("fonts/segoe-ui/segoeui.ttf");
}
@font-face {
  font-family: "Segoe UI Light";
  font-weight: lighter;
  src: url("fonts/segoe-ui/segoeuil.ttf");
}

body{
	background:url(../images/bg_body.png) #fff;
	width:100%;
	height:100%;
	color:#fff;
	font-family: "Segoe UI";
}
.wapper{
	
}
.outer{
    width: 960px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
}
.logo{
	margin-top:10px;
	width:200px;
	margin:auto;
}
.logo img{
	width:100%;
}
.counter{
	width:470px;
	margin:auto;
	margin-bottom:20px;
}
.cntSeparator {
	font-size: 54px;
	margin: 10px 20;
	color: #000;
}
.desc{
	width:100%;
}  
.desc ul{
	list-style:none;
	margin:0;
	padding:0;
	color:#000;
}
.desc ul li{
	float: left;
	padding: 5px 0;
	width: 115px;
	text-align: center;
}
.title {
	color:#555;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	letter-spacing:2px;
	text-shadow:0 1px #fff;
	margin-bottom:20px;
}
.content {
	color:#444;
	padding:5px;
	width:730px;
	min-height:150px;
	margin:auto auto;
	text-align:center;
	font-family: "Segoe UI";
	font-weight:bold;
	letter-spacing:1px;
	border-radius:5px;
	text-shadow:0 1px #fff;
	
    font-size:12px;
    text-transform:uppercase;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.3) 0px 1px 2px, rgba(255, 255, 255, 1) 0px 1px 0px;
	-moz-box-shadow: inset rgba(0, 0, 0, 0.3) 0px 1px 2px, rgba(255, 255, 255, 1) 0px 1px 0px;
	box-shadow: inset rgba(0, 0, 0, 0.3) 0px 1px 2px, rgba(255, 255, 255, 1) 0px 1px 0px;
	background-image: linear-gradient(to bottom,white 0,#E0E0E0 100%);
	background-image: -webkit-linear-gradient(top,white 0,#E0E0E0 100%);
}      
.content img{
    z-index:9999;
}
.clr{
	clear:both;
}
 #countdown{
	 background:#1FA3E0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 6px;
	text-transform: uppercase;
	color: #fff;
	width: 85px;
	text-align: center;
 }